<div *transloco="let t;">
  <app-header [title]="t('dashboard.appTitle')"></app-header>
  <div class="chartHidden">

    <ui5-select id="time-span-selector" class="select">
        <ui5-option *ngFor="let time of ['6h', '12h', '24h', '36h', '48h', '96h']; index as i"
                    class="ui5-text-icon"
                    data-value="{{ i }}" [attr.data-value]="i"
                    id="time-span-selector-{{time}}">
          {{ time }}
        </ui5-option>
    </ui5-select>

    <canvas id="appConfigOverviewChart"></canvas>
    <canvas id="appConfigByTypeChart"></canvas>
    <canvas id="appConfigByCustomizationChart"></canvas>
  </div>
</div>
