.shadow-container{
  position: fixed;
  width: 17.5vw;
  margin-top: -10vh;
  justify-content: space-between;
  display: flex;
  right: 7.2vw;
}

.shadow-container-wide{
  position: fixed;
  width: 18vw;
  margin-top: -11.5vh;
  justify-content: space-between;
  display: flex;
  right: 7vw;
}

.shadow{
  content: "";
  background: black;
  width: 50px;
  border-radius: 80%;
  height: 15px;
  opacity: 0.3;
}

.rocket-top-low{
  z-index: 2;
  position: fixed;
  bottom: 50.5vh;
  right: 0.1vw;
}

.rocket-top-high{
  z-index: 2;
  position: fixed;
  bottom: 48vh;
  right: 0.1vw;
}
