<div style="
    position: fixed;
    right: 5vw;
    bottom: 3vh;
    display: grid">

  <img class="rocket-part rocket-top-high"
       *ngIf="(activeCustomizationBlocks$|async) && (activeCustomizationBlocks$|async)!.name==='Conversational AI'"
       [src]="(activeCustomizationBlocks$|async)!.imgUrl">

  <img class="rocket-part rocket-top-low"
       *ngIf="(activeCustomizationBlocks$|async) && (activeCustomizationBlocks$|async)!.name==='Security'"
       [src]="(activeCustomizationBlocks$|async)!.imgUrl">

  <img class="rocket-part rocket-top-low"
       *ngIf="!(activeCustomizationBlocks$|async)"
       src="assets/images/rocket/rocket_topEmpty.png">

  <img class="rocket-part"
       *ngIf="(activeContextBlocks$|async) as block" [ngClass]=""
       style="z-index: 1;position: fixed;bottom: 24vh;right: 0;" [src]="block.imgUrl">

  <img class="rocket-part"
       *ngIf="!(activeContextBlocks$|async)"
       style="z-index: 1;position: fixed;bottom: 24vh;right: 0;"
       src="assets/images/rocket/rocket_fuelEmpty.png">

  <img class="rocket-part"
       *ngIf="(activeImplementationBlocks$|async) as block"
       style="z-index: 2;position: fixed;bottom: -2.5vh;right: 0;" [src]="block.imgUrl">

  <img class="rocket-part"
       *ngIf="!(activeImplementationBlocks$|async)"
       style="z-index: 2;position: fixed;bottom: -2.5vh;right: 0;"
       src="assets/images/rocket/rocket_baseEmpty.png">

  <div *ngIf="(activeImplementationBlocks$|async) as implementationBlock"
       [ngClass]="{'shadow-container':implementationBlock.name == 'Information','shadow-container-wide':implementationBlock.name == 'Planning'}">

    <div class="shadow"></div>
    <div class="shadow"></div>
  </div>
</div>
