.deviceNotActive {
  color: red;
  font-size: 7.5vh;
  width: 95vw;
  text-align: center;
  z-index: 3;
}

.deviceNotActiveContainer {
  position: absolute;
  bottom: 10vh;
  left: 0;
  width: 100%;
  border-top: 6px solid #e84c00;
  border-bottom: 6px solid #e84c00;
  z-index: 2;
}

.warning-banner {
  background: repeating-linear-gradient(
    45deg,
    yellow,
    yellow 10px,
    #fdd835 10px,
    #fdd835 20px
  );
}
