<div class="deviceNotActiveContainer warning-banner" *ngIf="(appState$|async) && (isAdminRoute$|async) && !(appState$|async)!.state.devices.raspberry_pi.active">
  <div class="blinking-text deviceNotActive">
    Lost Device Connection!
  </div>
</div>
