<div class="body" style="padding-left: 15px;padding-right: 15px" *transloco="let t">

  <div class="header">
    <div style="width: 100%">
      <ui5-bar design="Header">
        <a href="https://sovanta.com/" target="_blank" slot="startContent">
          <img ngSrc="assets/images/sovanta/sovanta_green_bg.png" height="25" width="50">
        </a>
        <ui5-label style="font-size: 18px; padding-left: 5px;"
                   slot="startContent">{{ t('invalidRoute.appTitle') }}</ui5-label>
      </ui5-bar>
    </div>
  </div>
  <br>

  <div *ngIf="potentialAppConfigs.length > 0">
    <ui5-label>{{ t('invalidRoute.message') }}</ui5-label>
    <ui5-label>{{ t('invalidRoute.thereAreAppConfigsAvailable') }}</ui5-label>
    <br><br>
    <ui5-list>
      <ui5-li *ngFor="let appConfig of potentialAppConfigs" (click)="routeToAppConfig(appConfig.id)">
        {{ t('invalidRoute.appConfigButton.' + appConfig.implementation + '-' + appConfig.context) }}
        {{ t('invalidRoute.appConfigButton.' + appConfig.addon) }}
      </ui5-li>
    </ui5-list>
  </div>

  <div *ngIf="potentialAppConfigs.length === 0">
    <ui5-label>{{ t('invalidRoute.message') }}</ui5-label>
  </div>

</div>
