<div class="header">
  <div style="width: 100%">
    <ui5-bar design="Header">
      <a href="https://sovanta.com/" target="_blank" slot="startContent">
        <img ngSrc="assets/images/sovanta/sovanta_green_bg.png" height="25" width="50">
      </a>
      <ui5-label style="font-size: 18px; padding-left: 5px;"
                 slot="startContent">{{ title }}</ui5-label>

      <ui5-icon  (click)="switchLanguage()" name="globe" slot="endContent"
                style="cursor:pointer; width:19px;height:19px;margin-right:10px;"></ui5-icon>

      <ui5-icon *ngIf="hasSecurity" (click)="logout()" name="employee-rejections" slot="endContent"
                style="cursor:pointer; width:20px;height:20px;"></ui5-icon>
    </ui5-bar>
  </div>
</div>
