<app-root-header *ngIf="!(appDeploying$|async) && !(appDeployed$|async)"></app-root-header>
<div *transloco="let t;">
  <div *ngIf="(appDeploying$|async) || (appDeployed$|async);else building">
    <div style="position: fixed;z-index:3;top: 0;left: 0;">
      <video
        id="launch-animation"
        src="assets/gifs/rocket-launch.webm"
        type="video/webm"
        playsinline
        autoplay
        [muted]="true"
        style="width: 100vw; height: 100vh; object-fit: fill;"
      ></video>
    </div>
    <app-qr style="z-index: 0" *ngIf="(appDeployed$|async)"></app-qr>
  </div>

  <ng-template #building>
<!--    <div class="back-to-building-info">-->
<!--      <div style="margin:auto">{{t('configLocked.backToBuilding')}}</div>-->
<!--    </div>-->
    <div *ngIf="(activeBlocks$|async) as activeBlocks" class="centered">
      <div *ngFor="let block of activeBlocks;let i = index">
        <div class="empty-block" [ngClass]="{'explanation-blocks':installing[i] || installed[i],'fade-in':installing[i]}">
          <div [id]="i" style="width: 65%"></div>
        </div>
        <div *ngIf="installed[i]"  class="installed">
          <ui5-icon name="accept" style="color:var(--bright-green);margin-right: 10px; padding-top: 4px;"></ui5-icon>
          <div [id]="i">
            {{t('configLocked.'+block.category)}}
          </div>
        </div>
      </div>
    </div>
    <app-chatbot [chatbotTranslationKey]="'building.chatboxTexts.locked'"></app-chatbot>
    <app-rocket></app-rocket>
  </ng-template>
</div>


