.explanation-blocks{
  height: 10vh;
  padding: 2vh;
  font-weight: 700;
  font-size: 2vh;
  background-color: var(--secondary-ming) !important;
  border-radius: 5px;
  color: white;
  margin-top: 7vh;
  width: 60vw;
  margin-left: 25vw;
}

.installed{
  display: flex;
  color: var(--checkmark-green);
  width: 43%;
  margin-top: -3vh;
  position: absolute;
  left: 30%;
}

.empty-block{
  height: 10vh;
  padding: 2vh;
  background-color: transparent;
  margin-top: 7vh;
  width: 60vw;
}

.fade-in{
  animation: fade-in 3s 1;
}

@keyframes fade-in {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }

}
