<body *transloco="let t">
<div class="background">
  <div class="shape"></div>
  <div class="shape"></div>
</div>
<div class="custom-form">
  <h3 style="color: black">{{ t('loginScreen.title') }}</h3>

  <label for="username" style="color: black">{{ t('loginScreen.username') }}</label>
  <input #username type="text" placeholder="Email or Phone" id="username">

  <label for="password" style="color: black">{{ t('loginScreen.password') }}</label>
  <input #password type="password" placeholder="Password" id="password">

  <button (click)="registerAndLogin(username.value, password.value)">{{ t('loginScreen.register') }}</button>
  <button (click)="login(username.value, password.value)">{{ t('loginScreen.login') }}</button>

</div>
</body>
