<div class="header-margin" *transloco="let t;" >
  <div class="primary-header-monitor font-medium">
    {{t('header.primaryHeader')}}
  </div>
  <div class="secondary-header-monitor">
    {{t('header.secondaryHeader')}}
  </div>
</div>

