.header{
  min-height: 8vh;
  width: 100%;
  text-align: center;
  display: flex;
}
.header-text{
  margin:auto;
  font-size: 5vh;
  font-weight: bold;

}

ui5-shellbar::part(root) {
  padding-left: .5rem;
  width: 100%;
}

/*ui5-button::part(button){
 height: 65px;
  width: 65px;
  background:linear-gradient(to right, #00B9F2,#019CE0,#1661BE);
  color:white;
}*/

.custom-button{
  border:none;
  border-radius: 5px;
  font-weight: bold;
  width: 200px;
  height:30px
}

.custom-ui5-button-popover{
  background:linear-gradient(to right, #00B9F2,#019CE0,#1661BE);
  color:white;
  height:35px;
  margin-top: 3%;
  width:75px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border:none;
  border-radius: 3px;
}
