<div *transloco="let t;">
  <app-header [title]="t('planningLeisure.appTitle')"></app-header>

  <div class="body" style="padding-left: 15px;padding-right: 15px">
    <!-- POPOVER-->
    <div id="popoverRef" style="position: fixed;width: 12vw;bottom:50%"></div>
    <ui5-popover id="popover" header-text="Todo">
      <div class="popover-content">
        <div class="flex-column">
          <ui5-label for="todoInput" required>Todo:</ui5-label>
          <br>
          <ui5-textarea id="todoInput" class="samples-margin-top" growing="true" growing-max-lines="5"
                        placeholder="Todo text ..."></ui5-textarea>
        </div>
      </div>
      <div slot="footer" class="popover-footer">
        <div style="flex: 1;margin-bottom:3px"></div>
        <div style="display: flex;">
          <ui5-button design="Negative"
                      (click)="closeModal()" style="margin-right: 10px; margin-bottom: 12px; margin-top: 12px;">
            {{ t('planningLeisure.cancel') }}
          </ui5-button>

          <ui5-button *ngIf="context === 'Create'" design="Emphasized" icon="accept"
                      (click)="createTodo()" style="margin-right: 10px; margin-bottom: 12px; margin-top: 12px;">
            {{ t('planningLeisure.save') }}
          </ui5-button>

          <ui5-button *ngIf="context === 'Edit'" design="Emphasized" icon="accept"
                      (click)="editTodo()" style="margin-right: 10px; margin-bottom: 12px; margin-top: 12px;">
            {{ t('planningLeisure.save') }}
          </ui5-button>
        </div>
      </div>
    </ui5-popover>
    <!-- POPOVER-->


    <ui5-tabcontainer style="margin-bottom: 20px">
      <ui5-tab text="{{ t('planningLeisure.todosInProgress') }}">
        <div style="width: min(100%, 500px);">

          <div *ngIf="(todosInProgress$|async).length > 0;else noTodos">
            <div *ngFor="let todo of (todosInProgress$|async)">
              <ui5-card class="medium">
                <div class="card-content" style="display:flex; padding: 10px 0 10px 0">
                  <div style="width:76%;margin-left:15px;padding-right:7px;">
                    {{todo.text}}
                  </div>
                  <div style="width:8%;margin: auto">
                    <ui5-icon (click)="openModal('Edit', todo)" name="edit"
                              style="cursor:pointer; color:dodgerblue;"></ui5-icon>
                  </div>
                  <div style="width:8%;margin: auto">
                    <ui5-icon (click)="setTodoDone(todo.id)" name="accept"
                              style="cursor:pointer; color:forestgreen;"></ui5-icon>
                  </div>
                </div>
              </ui5-card>
            </div>
          </div>

          <ng-template #noTodos>
            <div style="text-align: center;margin-top:5vh">
              {{t('planningLeisure.noTodosInProgress')}}
            </div>
          </ng-template>

        </div>
      </ui5-tab>
      <ui5-tab text="{{ t('planningLeisure.todosDone') }}">
        <div style="width: min(100%, 500px);">

          <div *ngIf="(todosDone$|async).length > 0;else noTodos">
            <div *ngFor="let todo of (todosDone$|async)">
              <ui5-card class="medium">
                <div class="card-content" style="display:flex; padding: 10px 0 10px 0">
                  <div style="width:76%;margin-left:15px;padding-right:7px;">
                    {{todo.text}}
                  </div>
                  <div style="width:8%;margin: auto">
                    <ui5-icon (click)="setTodoInProgress(todo.id)" name="undo"
                              style="cursor:pointer; color:dodgerblue;"></ui5-icon>
                  </div>
                  <div style="width:8%;margin: auto">
                    <ui5-icon (click)="deleteTodo(todo.id)" name="delete"
                              style="cursor:pointer; color:crimson;"></ui5-icon>
                  </div>
                </div>
              </ui5-card>
            </div>
          </div>

          <ng-template #noTodos>
            <div style="text-align: center;margin-top:5vh">
              {{t('planningLeisure.noTodosInProgress')}}
            </div>
          </ng-template>

        </div>
      </ui5-tab>
    </ui5-tabcontainer>

    <div style="text-align: center;
    margin-top: 2vh;
    position: fixed;
    bottom: 2vh;
    right:2vh;">
      <ui5-button icon="add" tooltip="Add" accessible-name-ref="lblAdd" design="Information"
                  (click)="openModal('Create')"></ui5-button>
    </div>

  </div>
</div>
