<app-root-header></app-root-header>
<div *transloco="let t;" class="body-margin">
  <div style="display: flex">
    <div style="width: 35%">
      <div style="margin-top:3%;">
        <button
          class="primary-button-monitor"
          [ngClass]="{'blinking-button': (keyCardDetected$|async)}"
          (click)="retrieveAdminToken()">{{t('register.getToken')}}</button>
      </div>
      <div>
        <button
          class="primary-button-monitor"
          (click)="startLearning()">{{t('register.learningMode')}}</button>
      </div>
      <div>
        <button
          class="primary-button-monitor"
          (click)="startBuilding()">{{t('register.buildingMode')}}</button>
      </div>
      <div>
        <button
          class="secondary-button-monitor"
          (click)="switchLang()">{{t('register.switchLang')}}</button>
      </div>
    </div>
   <div style="width: 50%;margin-top:2.5%;">
     <div *ngIf="(keyCardDetected$|async);else placeKeyCard" class="blinking-text primary-text-monitor" style="padding-top:2vh">{{t('register.keyCardDetected')}}</div>
     <ng-template #placeKeyCard>
       <div class="primary-text-monitor">{{t('register.placeKeyCard')}}</div>
     </ng-template>
   </div>
  </div>
  <div class="text-right w-100" style="position: fixed;right:1%;bottom:2%">
    <img src="assets/images/sovanta-logo.svg" width="500px" height="250px">
</div>
