
.mini-spinner {
  margin: 0 auto;
  height: 15px;
  width: 15px;
  animation: rotate 0.8s infinite linear;
  border: 2px solid #3c6428;
  border-right-color: transparent;
  border-radius: 50%;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
