
.primary-header-monitor {
  font-size: var(--primary-header-monitor-font-size);
  color: var(--primary-green);
  font-weight: bold;
  letter-spacing: -5px;
  margin-bottom: -20px;
}

.secondary-header-monitor {
  color: black;
  font-size: var(--secondary-header-monitor-font-size);
  font-weight: bold;
}

.primary-button-monitor {
  background-color: var(--primary-green);
  color: var(--white);
  border-radius: 5px;
  text-align: center;
  border: none;
  min-height: 10vh;
  min-width: 50vh;
  font-size: 3.5vh;
  margin-top: 5%;
  cursor: pointer;
}

.primary-button-monitor:hover {
  opacity: 0.5;
}

.primary-button-monitor:active {
  background-color: var(--secondary-ming);
}

.secondary-button-monitor {
  background-color: var(--secondary-ming);
  color: var(--white);
  border-radius: 5px;
  text-align: center;
  border: none;
  min-height: 7.5vh;
  min-width: 25vh;
  font-size: 2.5vh;
  margin-top: 5%;
  cursor: pointer;
}

.secondary-button-monitor:hover {
  opacity: 0.5;
}

.primary-text-monitor {
  font-size: var(--primary-text-font-size);
  color: var(--primary-blue);
}

.building-block {
  height: 22.5vh;
  width: 22.5vh;
}

.building-block-text {
  text-align: center;
  color: white;
  font-size: 3vh;
  height: 6vh;
  padding-top: 10%;
}

.building-block-icon {
  text-align: center;
  margin-top: 10%;
}

.mascot-img {
  position: fixed;
  bottom: 7vh;
  left: 0;
  height: 20vh;
  width: 12.5vw;
}

.mascot-img.idle {
  animation: mascot-idle-animation 4s infinite;
}

.mascot-img.talking {
  animation: mascot-talking-animation 1.75s infinite;
}

@keyframes mascot-idle-animation {
  0%, 55% {
    transform: translateY(0);
  }
  60%, 70% {
    transform: translateY(-3vh);
  }
  65%, 75%, 100% {
    transform: translateY(0);
  }
}

@keyframes mascot-talking-animation {
  0%, 30%, 55%, 90% {
    transform: rotateZ(0);
  }
  5%, 35%, 60%, 70%, 100% {
    transform: rotateZ(2.5deg);
  }
  20%, 45%, 85%, 95% {
    transform: rotateZ(5deg);
  }
  10%, 25%, 50%, 80% {
    transform: rotateZ(7.5deg);
  }
  15%, 40%, 65% {
    transform: rotateZ(10deg);
  }
}

.box-text {
  margin: auto;
  padding: 2vh;
  font-size: 2.4vh;
  white-space: pre-line;
  text-align: center;
}

.bold {
  font-weight: bold;
}

.type-header {
  font-size: 30px;
}


.current-category {
  width: 36vw;
  height: 38.5vh;
  background-color: var(--secondary-blue);
  border-radius: 5px;
  display: flex;
  margin-left: 5vw;
  justify-content: center;
}

.category {
  width: 20vw;
  height: 20vh;
  background-color: var(--secondary-blue);
  border-radius: 8px;
  display: flex;
  margin-top: -11vh;
  box-shadow: 0 0 12px 2px #00000040;
  opacity: 0.8;
  justify-content: center
}

.first-element-no-margin {
  margin-top: 0;
}

.small-img {
  height: 17.5vh;
  width: 10vw;
  opacity: 0.5
}

.large-img {
  height: 35vh;
  width: 19vw;
  opacity: 0.5
}

.chosen-block {
  opacity: 1;
  filter: brightness(1.1);
}

.chosen-block-animation {
  animation: chosen-block-flash 4s infinite;
  opacity: 1;
  filter: brightness(1);
  scale: none;
}

@keyframes chosen-block-flash {
  0%, 30%, 70%, 100% {
    filter: brightness(1.1);
    scale: none;
  }
  50% {
    filter: brightness(1.2);
    scale: 1.02;
  }
}


.block-info {
  width: 36vw;
  height: 20vh;
  background-color: var(--white);
  border-radius: 5px;
  margin-top: 5vh;
  display: flex;
  margin-left: 25vw;
  position: fixed;
  bottom: 15vh;
}

.rocket-part {
  height: 55vh;
  width: 32vw;
}

.chatbot-fixed {
  width: 15vw;
  height: 20vh;
  background-color: var(--white);
  border-radius: 5px;
  margin-top: 5vh;
  text-align: center;
  display: flex;
  margin-left: 5vw;
  left: 5.5vw;
  bottom: 15vh;
  position: fixed;
  align-items: start;
}

.chatbot-fixed::before {
  content: "";
  position: fixed;
  border-top: 10px solid transparent;
  border-right: 20px solid var(--white);
  border-bottom: 10px solid transparent;
  left: 9.5vw;
  bottom: 20vh;
  transform: rotate(0deg);
}


.back-to-building-info {
  width: 25vw;
  height: 15vh;
  background-color: var(--white);
  border-radius: 5px;
  margin-top: 12vh;
  margin-left: 6vw;
  display: flex;
  padding: 2vh
}

.top-margin-first-element {
  margin-top: 7.5vh;
}

.block-text {
  height: 10vh;
  padding: 2vh;
  font-weight: bold;
  font-size: 2vh;
}


.blinking-button {
  animation: blinkAnimation 1.5s infinite;
}
