
<div *ngIf="implementationId === 'Information';else planning">
  <div *ngIf="contextId === 'Business';else leisure">
    <app-information-business></app-information-business>
  </div>
  <ng-template #leisure>
    <app-information-leisure></app-information-leisure>
  </ng-template>

</div>
<ng-template #planning>
  <div *ngIf="contextId === 'Business';else leisure">
    <app-planning-business></app-planning-business>
  </div>
  <ng-template #leisure>
    <app-planning-leisure></app-planning-leisure>
  </ng-template>
</ng-template>



<div *ngIf="addonId === 'Conversational AI'">
  <app-conversational-ai [appConfig]="_appConfig"></app-conversational-ai>
</div>


