


.square-vertical {
  position: relative;
  width: 23vh;
  height: 23vh;
}

.square-vertical::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 0;
  left: 0;
  margin: -10px;
  background-color: inherit;
  animation: borderAnimationVertical 2s linear forwards;
}

.square-vertical::after {
  content: "";
  position: absolute;
  right:0;
  top:2px;
  width: 5px;
  height: 0;
  margin: -10px;
  background-color: inherit;
  animation: borderAnimationVertical 2s linear forwards;
}

@keyframes borderAnimationVertical {
  0% {
    height: 0;
  }
  50% {
    height: 108%;
  }
  100% {
    height: 108%;
  }
}


.square-horizontal {
  position: relative;
  width: 23vh;
  height: 23vh;
}

.square-horizontal::before {
  content: "";
  position: absolute;
  bottom:0;
  width: 0;
  margin:-10px;
  left: 0;
  height: 5px;
  background-color: inherit;
  animation: borderAnimationHorizontal 2s linear forwards;
}

.square-horizontal::after {
  content: "";
  position: absolute;
  top:0;
  width: 0;
  left: 1px;
  margin:-10px;
  height: 5px;
  background-color: inherit;
  animation: borderAnimationHorizontal 2s linear forwards;
}

@keyframes borderAnimationHorizontal {
  0% {
    width: 0;
  }
  50% {
    width: 108%;
  }
  100% {
    width: 108%;
  }
}

.bubble {
  position: relative;
  background: lightgray;
  margin-bottom: 40px;
  color: black;
  font-size: 21px;
  line-height: 65px;
  text-align: center;
  height: 60px;
  border-radius: 10px;
  padding: 0;
  visibility: hidden;
  animation: blinkAnimation 1.5s infinite;
}

.visible{
  visibility: visible;
}

.invisible{
  visibility: hidden !important;
}

.bubble:after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-color: lightgray transparent;
  border-width: 20px 20px 0;
  bottom: -20px;
  left: 50%;
  margin-left: -20px;
}



