<app-root-header></app-root-header>
<div class="body-margin" *transloco="let t">
  <div *ngIf="(appState$|async) && (blockToLearn$|async)">
    <div *ngIf="((appState$|async)!.state.state !== 'LEARNING');else learning">
      <button class="primary-button-monitor" (click)="startLearning()">{{t('learning.startLearning')}}</button>
<!--      <div>-->
<!--        {{t('learning.noLearning')}}-->
<!--      </div>-->
    </div>
    <ng-template #learning>
      <div class="container" style="display: flex;justify-content: center;margin-top: 5%;">
        <div *ngFor="let block of buildingBlocks;"
          style="margin-left: 50px;">
          <div [ngClass]="{'visible': block.id === (blockToLearn$|async)!,'invisible': block.id === (blockToLearn$|async)! && (appState$|async)!.state.activeBlocks[0] === buildingBlocks[buildingBlocks.length-1].id}" class="bubble">
            {{t('learning.placeMe')}}
          </div>
          <div class="building-block" [ngStyle]="{'background': block.color}">
            <div [ngClass]="{'square-vertical': (blockToLearn$|async)! > block.id || (appState$|async)!.state.activeBlocks[0] === block.id}" [ngStyle]="{'background-color': block.color}">
              <div [ngClass]="{'square-horizontal': (blockToLearn$|async)! > block.id || (appState$|async)!.state.activeBlocks[0] === block.id}" [ngStyle]="{'background-color': block.color}">
                <div class="building-block-text">
                  {{block.name}}
                </div>
                <div class="building-block-icon">
                  <img [src]="block.iconUrl" width="65px" height="65px">
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </ng-template>
  </div>
</div>




