<app-root-header></app-root-header>
<div class="body-margin" *transloco="let t;">
    <div style="margin-top:5vh">


    <div style="display: flex">
      <div *ngIf="(blocksByCategory$|async) as blocks" style="display: block">

        <div class="category" style="margin-top: 0;">
          <div style="display:flex" *ngFor="let block of blocks[3]">
            <div class="box-text font-medium" *ngIf="block.category === 'none'">
              <div *ngIf="!(appConfigIsValid$|async);else turnKey" style="opacity: .2;">{{t('building.chooseBlock')}}</div>
              <ng-template #turnKey><div>{{t('building.turnKey')}}</div></ng-template>
            </div>
            <img *ngIf="block.category !== 'none'" class="small-img chosen-block" [src]="block.threeDUrl">
          </div>
        </div>
        <div class="category">
          <div style="display:flex" *ngFor="let block of blocks[2]">
            <div class="box-text font-medium" *ngIf="block.category === 'none'">
              <div *ngIf="!(appConfigIsValid$|async);else turnKey" style="opacity: .2;">{{t('building.chooseBlock')}}</div>
              <ng-template #turnKey><div>{{t('building.turnKey')}}</div></ng-template>
            </div>
            <img *ngIf="block.category !== 'none'" class="small-img chosen-block" [src]="block.threeDUrl">
          </div>
        </div>
        <div class="category">
          <div style="display:flex" *ngFor="let block of blocks[1]; index as i">
            <div class="box-text font-medium" *ngIf="block.category === 'none'">
              <div *ngIf="!(appConfigIsValid$|async);else turnKey">{{t('building.validateConfig')}}</div>
              <ng-template #turnKey><div>{{t('building.turnKey')}}</div></ng-template>
            </div>
            <img *ngIf="block.category !== 'none'" class="small-img chosen-block" [src]="block.threeDUrl"
                 [class.select-me-flash] = "i === 0 && block.category !== 'implementation'"
                 [class.select-me-flash-inverted] = "i === 1 && block.category !== 'implementation'">
          </div>
        </div>
      </div>

      <div class="current-category">
          <div *ngIf="(blocksByCategory$|async) as blocks">
            <div *ngIf="blocks[0][0].category !== 'none'" style="padding-left: 3vw; padding-top: 2vh; font-size: 1vh; text-transform: capitalize; opacity: .5; font-weight: bold; visibility: hidden">
                {{ t(blocks[0][0].categoryTranslationKey) }}
            </div>
            <div style="display: flex;justify-content: center">
              <div style="display:flex" *ngFor="let block of blocks[0]">
                <div class="box-text" *ngIf="block.category === 'none'">
                  <div *ngIf="!(appConfigIsValid$|async);else turnKey" style="padding-top: 12vh">{{t('building.chooseBlock')}}</div>
                  <ng-template #turnKey><div>{{t('building.turnKey')}}</div></ng-template>
                </div>
                <div>
                  <img *ngIf="block.category !== 'none'" class="large-img" [src]="block.threeDUrl" [ngClass]="{'chosen-block-animation': (activeBlocks$|async)?.includes(block) || false}"
                      style="margin-top: -6vh">
                  <div style="text-align: center; font-size: 2.5vh; margin-top: -3vh"
                       [ngClass]="(activeBlocks$|async)?.includes(block) ? 'font-medium' : 'font-thin'">
                  {{ t(block.nameTranslationKey) }}
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>

    <div style="display: flex;">
      <app-chatbot [chatbotTranslationKey]="'building.chatbox'"></app-chatbot>
      <div class="block-info" *ngIf="(blocksByCategory$|async) && (activeBlocks$|async)">
        <div class="box-text" *ngIf="(appState$|async) && (appState$|async)!.state.activeBlocks.length > 0;else noChosenBlock"
             [innerHTML]="t(getActiveBlockFromCategoryAndActiveBlocks((activeBlocks$|async),(blocksByCategory$|async)![0][0].category))"></div>
        <ng-template #noChosenBlock>
          <div class="box-text">
            <div>
              {{t('building.oneOfTitle')}}
            </div>
            <div style="margin-top: -2vh">
              <img class="small-img select-me-flash" [src]="'assets/images/rocket/rocket_baseA_3d.png'">
              <img class="small-img select-me-flash-inverted" [src]="'assets/images/rocket/rocket_baseB_3d.png'">
            </div>
          </div>
        </ng-template>
      </div>
    </div>
    </div>
    <app-rocket></app-rocket>
  </div>



