@keyframes select-me-flash {
  0%, 20%, 70%, 100% {
    opacity: 0.2;
    scale: none;
  }
  25%, 65% {
    opacity: 1;
    scale: 1.12;
  }
}

.select-me-flash {
  animation: select-me-flash 5s infinite;
}

@keyframes select-me-flash-inverted {
  0%, 20%, 70%, 100% {
    opacity: 1;
    scale: 1.12;
  }
  25%, 65% {
    opacity: 0.2;
    scale: none;
  }
}

.select-me-flash-inverted {
  animation: select-me-flash-inverted 5s infinite;
}
