<img (click)="toggleChat()" class="mascot" src="assets/images/sep-alien-sovana-v2.png" [ngClass]="{'extended-mascot': chatIsOpen}">
  <div class="bubble-fixed" [ngClass]="{'extended-bubble': chatIsOpen}" style="color:white">
    <div *ngIf="chatIsOpen;else openChat" style="margin-bottom:10px">
      <div *ngIf="showAnswer;else showEvents">
        <div id="chat-text" style="padding: 2vh;word-wrap: break-word;"></div>
      </div>
      <ng-template #showEvents>
        <div id="choose-event" style="text-align: center;margin-top: 10px;padding:5px"></div>
        <div *ngFor="let event of events" class="event" (click)="triggerEvent(event)">
          <div style="margin:auto">{{event}}</div>
        </div>
      </ng-template>
    </div>

    <div style="position: relative">
      <div *ngIf="showAnswer" (click)="deleteEvent()" class="icon">
        <ui5-icon name="arrow-left" style="color:white;"></ui5-icon>
      </div>
    </div>

    <ng-template #openChat>
      <div id="chat-init" (click)="toggleChat()" style="margin:auto;text-align: left;padding:1.5vh">
      </div>
    </ng-template>
  </div>


