.bubble-fixed {
  position: fixed;
  height: fit-content;
  background-color: var(--secondary-ming);
  border-radius: 5px;
}

.bubble-fixed::before {
  content: "";
  position: fixed;
  border-top: 10px solid transparent;
  border-right: 20px solid var(--secondary-ming);
  border-bottom: 10px solid transparent;
  transform: rotate(0);
}

@media (max-width: 767px) {
  .bubble-fixed {
    bottom: 8px;
    left: 13vw;
  }

  .bubble-fixed::before {
    left: 40px;
    bottom: 10px;
  }
  .extended-bubble {
    bottom: 20px;
    left: 75px;
    animation: extend-bubble 1s 1;
  }
  .extended-bubble::before{
    left: 60px;
    bottom: 5vh;
    animation: extend-connect 1s 1;
  }
}

@media (min-width: 768px) {
  .bubble-fixed {
    bottom: 15px;
    left: 60px;
  }
  .bubble-fixed::before{
    bottom: 20px;
    left: 45px;
  }
  .extended-bubble {
    bottom: 20px;
    left: 80px;
    animation: extend-bubble-lg 1s 1;
  }
  .extended-bubble::before{
    left: 63px;
    bottom: 43px;
    animation: extend-connect-lg 1s 1;
  }
}


.extended-bubble {
  position: fixed;
  height: fit-content;
  width: 200px;
  background-color: var(--secondary-ming);
  border-radius: 5px;
  overflow: hidden;

}

.extended-bubble::before {
  content: "";
  position: fixed;
  border-top: 10px solid transparent;
  border-right: 20px solid var(--secondary-ming);
  border-bottom: 10px solid transparent;
  transform: rotate(0);
}

@keyframes extend-bubble-lg {
  0% {
    bottom: 15px;
    left: 60px;
  }
  100% {
    bottom: 20px;
    left: 80px;
  }
}

@keyframes extend-connect-lg {
  0% {
    bottom: 20px;
    left: 45px;
  }
  100% {
    left: 63px;
    bottom: 43px;
  }
}

@keyframes extend-bubble {
  0% {
    bottom: 8px;
    left: 13vw;
  }
  100% {
    bottom: 20px;
    left: 75px;
  }
}

@keyframes extend-connect {
  0% {
    left: 40px;
    bottom: 10px;
  }
  100% {
    left: 60px;
    bottom: 5vh;
  }
}


.mascot {
  position: fixed;
  height: 109px;
  width: 109px;
  bottom: -44px;
  left: -43px;
}

.extended-mascot {
  position: fixed;
  height: 109px;
  width: 109px;
  bottom: -10px;
  left: -20px;
  animation: extend-mascot 1s 1;
}

@keyframes extend-mascot {
  0% {
    bottom: -44px;
    left: -43px;
  }
  100% {
    bottom: -10px;
    left: -20px;
  }
}



.event {
  text-align: center;
  border: 1px solid;
  border-radius: 5px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
  height: 30px;
  display: flex;
  animation: extend-event 0.5s 1;
}

@keyframes extend-event {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.icon {
  padding-left: 12px;
  animation: extend-event 1s 1;
  position: fixed;
  bottom: 20px;
}
