<div *ngIf="qrCode" class="centered">
  <qrcode  [colorLight]="'#daf0ee'" [qrdata]="qrCode!" [width]="384" [errorCorrectionLevel]="'M'"></qrcode>
</div>
<app-chatbot [chatbotTranslationKey]="'building.chatboxTexts.qr'"></app-chatbot>
