.container::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;
}
.container{
  overflow-x: auto;
}
/* For Firefox */
* {
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;
}

/* Track */
.container::-moz-scrollbar {
  background-color: transparent;
}

/* Thumb */
.container::-moz-scrollbar-thumb {
  background-color: transparent;
}
