<div *transloco="let t;">
  <app-header [title]="t('informationLeisure.appTitle')"></app-header>

  <ui5-tabcontainer *ngIf="(provider$|async) as tabs">
    <ui5-tab *ngFor="let tab of tabs;index as i" text="{{ tab }}">
      <div *ngIf="(this.filterNewsByProvider$(tab)|async)!.length > 0;else noNews">

        <ui5-timeline layout="Vertical">
          <ui5-timeline-item *ngFor="let article of (this.filterNewsByProvider$(tab)|async); index as j;"
                             name="{{article.title}}"
                             subtitleText="{{ article.pubDate }}"
                             subtitle-text="{{ article.pubDate }}"
                             [icon]="j === 0 ? 'feed' : ''">
            <a [href]="article.link" target="_blank" style="text-decoration: none; color: black;">
              <img *ngIf="article.thumbnail" [src]="article.thumbnail"
                   style="width: 100%; border-radius: 8px; border: 1px solid #c0c0c0; margin-bottom: 4px;">
              <div>{{article.description}}</div>
            </a>
          </ui5-timeline-item>
        </ui5-timeline>

      </div>

      <ng-template #noNews>
        <div class="text-center mt-5" style="font-size: 2vh">{{t('informationLeisure.noNews')}}</div>
      </ng-template>

    </ui5-tab>
  </ui5-tabcontainer>
</div>
