/* You can add global styles to this file, and also import other style files */

@import './css/toastr.css';
@import './css/monitor.css';

@font-face {
  font-family: 'Poppins Regular';
  src: url('src/assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins Medium';
  src: url('src/assets/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins Thin';
  src: url('src/assets/fonts/Poppins-Thin.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}



:root{
  /* monitor variables */
  --body-margin: 5%;
  --header-margin: 5%;
  --font-family-regular: 'Poppins Regular', sans-serif;
  --font-family-medium: 'Poppins Medium', sans-serif;
  --font-family-thin: 'Poppins Thin', sans-serif;
  --primary-header-monitor-font-size:96px;
  --secondary-header-monitor-font-size:32px;
  --primary-text-font-size:5vh;
  --primary-green: #3aaa35;
  --bright-green: #52f14b;
  --checkmark-green: #92ff8e;
  --dark-green: #12510e;
  --primary-blue:#3b4851;
  --neutral-grey:#686868;
  --grey:#c4c4c4;
  --lightgrey:#dddddd;
  --white:#ffffff;
  --secondary-ming:#587b7f;
  --secondary-yellow:#dabb65;
  --secondary-blue:#b2c4d1;
  --secondary-cyan:#daf0ee;
  --secondary-cream:#fffae3;
  --secondary-pink:#eeb9c0;
  --secondary-red:#542326;

  /* fiori variables */
}

/** {
  border: red 2px dotted;
  animation: rotate-360 8s infinite linear;
}

@keyframes rotate-360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/

*{
  font-family: var(--font-family-regular);
}

* .font-medium{
  font-family: var(--font-family-medium);
}

.font-medium{
  font-family: var(--font-family-medium);
}

* .font-thin{
  font-family: var(--font-family-thin);
}

.font-thin{
  font-family: var(--font-family-thin);
}

.mx-5{
  margin-left: 5%;
  margin-right: 5%;
}

.my-5{
  margin-top:5%;
  margin-bottom:5%
}

.mt-5{
  margin-top: 5%;
}
.mb-5{
  margin-bottom:5%
}

.ml-5{
  margin-left: 5%;
}
.mr-5{
  margin-right: 5%;
}

.text-center{
  text-align:center;
}

.text-right{
  text-align: right;
}

.text-left{
  text-align: left;
}

.w-100{
  width:100%
}
.w-75{
  width:75%;
}
.w-50{
  width: 50%;
}

.h-100{
  height:100vh
}
.h-75{
  height:75vh;
}
.h-50{
  height: 50vh;
}



.body-margin{
  margin-left: var(--body-margin);
  margin-right: var(--body-margin);
}

.header-margin{
  margin-left:var(--header-margin);
  margin-right:var(--header-margin);
}

.blinking-text {
  animation: blinkAnimation 1.5s infinite;
}


@keyframes blinkAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.centered{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.tab{
  font-size: 3vh;
  margin-top: 4vh;
  margin-left: 1.5vh;
  margin-right: 1.5vh;
  white-space: nowrap;
}

.active-tab{
  border-bottom: 2px solid blue;
}


