<div class="body" style="padding-left: 15px;padding-right: 15px" *transloco="let t">
  <app-header [title]="t('kanban.appTitle')"></app-header>

  <div id="popover-ref" style="position: absolute; top: 50px; left: 10px; z-index: 1;"></div>

  <ui5-tabcontainer>
    <ui5-tab text="{{ t('kanban.status.todo') }}">
      <div style="width: min(100%, 500px);">
        <ui5-card class="medium">
          <ui5-list separators="None" class="card-content-child" style="width: 100%; margin-bottom: 0.75rem;">
            <div *ngFor="let task of todoElements$ | async">
              <ui5-li icon="{{ getPriorityIcon(task.priority) }}" description="{{ formatTaskId(task.id) }}"
                      (click)="openTaskPopover(task.id)">
                {{ task.title }}
              </ui5-li>
            </div>
          </ui5-list>
        </ui5-card>
        <div style="display: flex; justify-content: space-around; margin-top: 1rem;">
          <ui5-button icon="add" tooltip="Add" accessible-name-ref="lblAdd" design="Information"
                      (click)="addTask(0, $event.target)"></ui5-button>
        </div>
      </div>
    </ui5-tab>

    <ui5-tab text="{{ t('kanban.status.inProgress') }}">
      <div style="width: min(100%, 500px);">
        <ui5-card class="medium">
          <ui5-list separators="None" class="card-content-child" style="width: 100%; margin-bottom: 0.75rem;">
            <div *ngFor="let task of inProgressElements$ | async">
              <ui5-li icon="{{ getPriorityIcon(task.priority) }}" description="{{ formatTaskId(task.id) }}"
                      (click)="openTaskPopover(task.id)">
                {{ task.title }}
              </ui5-li>
            </div>
          </ui5-list>
        </ui5-card>
        <div style="display: flex; justify-content: space-around; margin-top: 1rem;">
          <ui5-button icon="add" tooltip="Add" accessible-name-ref="lblAdd" design="Information"
                      (click)="addTask(1, $event.target)"></ui5-button>
        </div>
      </div>
    </ui5-tab>

    <ui5-tab text="{{ t('kanban.status.done') }}">
      <div style="width: min(100%, 500px);">
        <ui5-card class="medium">
          <ui5-list separators="None" class="card-content-child" style="width: 100%; margin-bottom: 0.75rem;">
            <div *ngFor="let task of doneElements$ | async">
              <ui5-li icon="{{ getPriorityIcon(task.priority) }}" description="{{ formatTaskId(task.id) }}"
                      (click)="openTaskPopover(task.id)">
                {{ task.title }}
              </ui5-li>
            </div>
          </ui5-list>
        </ui5-card>
        <div style="display: flex; justify-content: space-around; margin-top: 1rem;">
          <ui5-button icon="add" tooltip="Add" accessible-name-ref="lblAdd" design="Information"
                      (click)="addTask(2, $event.target)"></ui5-button>
        </div>
      </div>
    </ui5-tab>
  </ui5-tabcontainer>


  <ui5-popover id="kanban-entry-editor" header-text="Kanban entry editor">
    <div class="popover-content">
      <div class="flex-column">
        <!--<ui5-label for="kanban-entry-editor-title" required>Title: </ui5-label>-->
        <ui5-input id="kanban-entry-editor-title" class="samples-margin-top" placeholder="Task title"></ui5-input>
        <br>

        <ui5-textarea id="kanban-entry-editor-description" class="samples-margin-top"
                      placeholder="Description"
                      growing="true"></ui5-textarea>
        <br>

        <ui5-select id="kanban-entry-editor-priority" class="samples-margin-top select"
                    placeholder="{{ t('kanban.priorityPlaceholder') }}">
          <ng-container *ngFor="let priority of ['low', 'medium', 'high']; index as i">
            <ui5-option class="ui5-text-icon"
                        data-value="{{ i }}" [attr.data-value]="i"
                        id="kanban-entry-editor-priority-{{priority}}">
              {{ t('kanban.priority.' + priority) }}
            </ui5-option>
          </ng-container>
        </ui5-select>
        <br>

        <ui5-select id="kanban-entry-editor-status" class="samples-margin-top select"
                    placeholder="{{ t('kanban.statusPlaceholder') }}">
          <ng-container *ngFor="let status of ['todo', 'inProgress', 'done']; index as i">
            <ui5-option class="ui5-text-icon"
                        data-value="{{ i }}" [attr.data-value]="i"
                        id="kanban-entry-editor-status-{{status}}">
              {{ t('kanban.status.' + status) }}
            </ui5-option>
          </ng-container>
        </ui5-select>
      </div>
    </div>
    <div slot="footer" class="popover-footer" style="padding-top: 12px;">
      <ui5-button id="kanban-entry-editor-close-button" design="Emphasized" icon="accept"
                  (click)="saveTaskFromPopover()" style="margin-right: 10px; margin-bottom: 12px;">
        {{ t('kanban.saveAndClose') }}
      </ui5-button>
      <ui5-button id="kanban-entry-editor-close-button" design="Negative" icon="delete"
                  (click)="deleteTaskFromPopover()" style="margin-right: 10px; margin-bottom: 12px;">
        {{ t('kanban.deleteTask') }}
      </ui5-button>
    </div>
  </ui5-popover>
</div>
